# Created by .ignore support plugin (hsz.mobi)
.idea/*
logs
*.iml
*.ipr
*.iws
*.class
.project
.classpath
.settings
.externalToolBuilders/
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.log
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*/scripts/*.pyc
*/scripts/*.*~
src/main/webapp/WEB-INF/classes
src/main/resources/META-INF/persistence.xml
src/main/webapp/META-INF/
*/src/main/webapp/static/js/site_js_dep.js
*/src/main/webapp/WEB-INF/decorators/revision.properties
target
*/src/main/webapp/node_modules
*/src/main/webapp/node_modules/*
src/main/webapp/WEB-INF/views/restaurant/restaurant.bak.ftl
src/main/webapp/WEB-INF/decorators/footer.corY
src/main/webapp/WEB-INF/views/error/
src/main/webapp/WEB-INF/views/helper/
src/main/webapp/common.zip
bin/*
doc
src/main/resources/rebel.xml
.sass-cache/
node_modules/
.vscode/
/bin/
.idea/workspace.xml
